.resident-container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}
input, button {
    font-size: 1.5rem;
}
.location-container {
    padding: 1em;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.pagination button {
    background-color: var(--green);
    border: none;
    color: #333;
    padding: 4px 8px;
    margin: 2px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.8; 
    max-width: 100%;
    min-width: 40px;
    white-space: nowrap;
    opacity: 0.9;
}
.pagination button.active {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    opacity: 1;
    transition: 1100ms;
}

@media screen and(max-width: 768px){
    .pagination {
        flex-wrap: wrap;
    }
}